body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial;
}

#app {
  padding: 15px;
}

#top {
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 12px;
  opacity: .6;
}

#coins {
  font-size: 26px;
}

#center {
  text-align: center;
  margin: 60px 0;
}

#coinBtn {
  width: 220px;
}

#coinBtn:active {
  transform: scale(.9);
}

.card {
  background: #151515;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  background: #f5b400;
}
