body{
background:#111;
color:white;
text-align:center;
font-family:sans-serif;
}

.menu button{
padding:10px;
margin:5px;
}

.tab{ display:none }

button{
padding:15px;
border:none;
border-radius:10px;
cursor:pointer;
background:#444;
color:white;
}
